################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LMIChallenges/LMIChallengesCollectionTests/bin/Debug/netcoreapp3.1
